<li ng-show="controller.visible" ng-attr-id="{{::controller.id}}" title="{{controller.title| translateMultiple}}" class="info nav-icon-btn {{::controller.infoStyle}}" ui-dependency="dependencies" ng-cloak>
  <a class="info-button info-button-{{::size}} {{::controller.style}}" ng-click="onClick($event)">
    <i ng-if="::controller.icon" class="nav-icon fa fa-{{::controller.icon}} fa-fw" ng-class="::{'w-text': controller.text}"></i>
    <span ng-if="controller.unit" class="label" translate-multiple="{{controller.unit}}"></span>
    <span ng-if="controller.text" class="info-text" translate-multiple="{{controller.text}}"></span>
    <span ng-if="controller.label" class="info-text" translate-multiple="{{controller.label}}"></span>
    <span ng-if="controller.title" class="small-screen-text" translate-multiple="{{controller.title}}"></span>
  </a>
</li>