<div class="tree-grid">
  <div class="table-header no-border-hr no-border-t no-padding">
    <table class="table table-bordered no-border no-margin" ng-style="{left: scrollX}">
      <thead class="no-border">
        <tr class="tree-grid-header-row" ng-if="colDefinitions.length">
          <th ng-repeat="col in colDefinitions| filter:{visible:true} track by col.field" class="no-border-b" ng-style="::{width:col.cellWidth}">
            <span ng-if="col.displayName" translate-multiple="{{col.displayName}}"></span>
          </th>
        </tr>
      </thead>
    </table>
  </div>
  <div class="table-body scroll expand scrollable-both" ng-click="userClickout($event)" ng-right-click="userContextMenuBranch($event, null)">
    <table class="table table-bordered no-border table-hover">
      <tbody ng-if="treeRows.length && colDefinitions.length">
        <tr ng-repeat="row in treeRows| filter:{visible:true} track by row.branch.uid"  ng-attr-id="{{::row.branch._ID}}"
            ng-class="'level-' + {{ row.level}} + (row.branch.selected ? ' active':'')" class="tree-grid-row {{row.branch['_style_']}}"
            ng-click="userClicksBranch(row.branch)" ng-right-click="userContextMenuBranch($event, row.branch)">
          <td class="{{col.style + ' ' + row.branch[col.field].style}}" ng-repeat="col in colDefinitions| filter:{visible:true} track by col.field" ng-class="::{'component': col.cellTemplate}" ng-style="::{width:col.cellWidth}">
            <div ng-if="::col === expandingProperty" class="expanding-cell">
              <i ng-click="onUserClick(row.branch)" ng-class="row.treeIcon" class="indented tree-icon"></i>
              <span ng-if="::col.cellTemplate" class="tree-label" compile="col.cellTemplate"></span>
              <span ng-if="::!col.cellTemplate" class="tree-label">{{row.branch[col.field].label || row.branch[col.field].value || row.branch[col.field]}}</span>
            </div>
            <div ng-if="::col !== expandingProperty" class="tree-cell">
              <div ng-if="::col.cellTemplate" class="text-{{::col.align}}" compile="col.cellTemplate"></div>
              <div ng-if="::!col.cellTemplate" class="text-{{::col.align}}">{{row.branch[col.field].label || row.branch[col.field].value || row.branch[col.field]}}</div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>