{
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "browsers": [
          "> 1%",
          "last 3 versions",
          "ie 8"
        ]
      }
    }]
  ],
  "env": {
    "development": {
      "compact": false,
      "plugins": [
        "@babel/plugin-proposal-object-rest-spread",
        "@babel/plugin-transform-object-assign",
        "array-includes",
        "object-values-to-object-keys",
        "transform-object-entries",
        ["istanbul", {
          "exclude": [
            "**/test/",
            "**/node_modules/",
            "**/lib/"
          ]
        }]
      ]
    },
    "production": {
      "plugins": [
        "@babel/plugin-proposal-object-rest-spread",
        "@babel/plugin-transform-object-assign",
        "array-includes",
        "object-values-to-object-keys",
        "transform-object-entries",
        ["istanbul", {
          "exclude": [
            "**/test/",
            "**/node_modules/",
            "**/lib/"
          ]
        }]
      ]
    }
  }
}
