<div class="panel {{::controller.style}}">
    <div class="panel-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#{{::autocollapse ? accordionId : ''}}"
           href="#{{::itemId}}" aria-expanded="{{isSelected}}" ng-click="onClick(itemId)" translate-multiple="{{controller.label}}"></a>
    </div>
    <div id="{{::itemId}}" class="panel-collapse collapse {{isSelected ? 'in' : ''}}" aria-expanded="{{isSelected}}">
        <div ng-transclude class="panel panel-body"></div>
    </div>
</div>