<div ng-attr-id="{{::controller.id}}" ng-cloak>
  <div class="modal fade" ui-modal on-close="component.closeDialog()" ng-cloak>
    <div class="modal-dialog {{::controller.style}}"  ng-class="::{'fullHeight expandible-vertical': isExpandible}">
      <div class="modal-content" ng-class="::{'expand expandible-vertical': isExpandible}">
        <div ng-if="::controller.label" class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">
            <i ng-show="::controller.icon" class="panel-title-icon fa fa-{{::controller.icon}}"></i>
            <span translate-multiple="{{::controller.label}}"></span>
          </h4>
        </div>
        <div ng-class="::{'expand expandible-vertical': isExpandible}" ng-transclude></div>
      </div>
    </div>
  </div>
</div>
