//
// Themes / Purple Hills
// --------------------------------------------------

.theme-purple-hills {
  @theme-color: darken(#9577cd, 10%);
  // Main menu background color
  @menu-color: #3c3e49;
  // Primary color
  @primary-color: #857198;

  // Mixins
  .awe-main-menu(@menu-color);
  .awe-grid(@theme-color, @primary-color);
  .awe-change-password-page(@primary-color);
  .awe-breadcrumbs(light);
  .awe-buttons(@theme-color, @primary-color);
  .awe-loading-bar(@primary-color);
  .awe-theme-color(@theme-color);
  .awe-menu-color(@menu-color);
}
